.descriptionBlock {


}

.about {

}

.contacts {
    display: flex;
    flex-direction: column;
}

.job {
    display: flex;
    flex-direction: column;
}
.mainPhoto {
    max-width: 200px;
}
.contact {
    padding-left: 10px;
}